### Обучающая и тестовая выборки

- В качестве обучающей выборки будем использовать наборы, полученные при помощи train_test_split из scikit-learn.
- Конечно, алгоритм может работать с многомерным пространством, но для удобства демонстраиции алгоритма мы используем двухмерный набор данных.
- Если разные признаки имеют сильно отличающиеся диапазоны значений, то применяют масштабирование исходных данных.

In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

data_full = pd.read_csv('data/housing.csv', sep=",")
data_full

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

Проверим датасет на пустые значения.

In [21]:
# проверим есть ли пропущенные значения
data_full.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [22]:
from sklearn.impute import SimpleImputer
from sklearn.impute import MissingIndicator

# Фильтр для проверки заполнения пустых значений
indicator = MissingIndicator()
mask_missing_values_only = indicator.fit_transform(data_full)

In [23]:
strategies=['mean', 'median', 'most_frequent']

# Более сложная функция, которая позволяет задавать колонку и вид импьютации
def test_num_impute_col(dataset, column, strategy_param):
    temp_data = dataset[[column]]
    
    indicator = MissingIndicator()
    mask_missing_values_only = indicator.fit_transform(temp_data)
    
    imp_num = SimpleImputer(strategy=strategy_param)
    data_num_imp = imp_num.fit_transform(temp_data)
    
    return data_num_imp

In [24]:
imp2 = SimpleImputer(missing_values=np.nan, strategy='mean')
data_imp2 = imp2.fit_transform(data_full[['total_bedrooms']])
data_full[['total_bedrooms']] = data_imp2
np.unique(data_full[['total_bedrooms']])

array([1.000e+00, 2.000e+00, 3.000e+00, ..., 5.471e+03, 6.210e+03,
       6.445e+03])

In [25]:
data_full['total_bedrooms'] = test_num_impute_col(data_full, 'total_bedrooms', strategies[0])

In [26]:
# проверим есть ли пропущенные значения
data_full.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

Заметим, что ocean_proximity является категориальным признаком, рассмотрим уникальные значения для него:

In [27]:
np.unique(data_full[['ocean_proximity']])

array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
      dtype=object)

Для простоты объединим '<1H OCEAN>','INLAND'; 'NEAR BAY', 'NEAR OCEAN'; 'ISLAND'.

In [28]:
def class_to_regr(y: float) -> str:
    if y=='<1H OCEAN' or y=='INLAND':
        result = 0
    elif y=='NEAR BAY' or y=='NEAR OCEAN':
        result = 1
    else:
        result = 2        
    return result

In [29]:
data_full['ocean_proximity_regr'] = \
data_full.apply(lambda row: class_to_regr(row['ocean_proximity']),axis=1)

In [30]:
X = data_full.drop(columns=['median_house_value'])  # Let's say column 'target' is the target\class\label column
y = data_full['median_house_value']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.0016,
                                                    train_size=0.015, 
                                                    random_state=42)

In [31]:
data_train_to_csv=X_train
data_train_to_csv['median_house_value']=y_train
data_train_to_csv

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,ocean_proximity_regr,median_house_value
16105,-122.50,37.75,44.0,1819.0,537.870553,1137.0,354.0,3.4919,NEAR OCEAN,1,271800.0
9149,-118.50,34.46,17.0,10267.0,537.870553,4956.0,1483.0,5.5061,<1H OCEAN,0,239400.0
16879,-122.39,37.60,34.0,707.0,537.870553,381.0,156.0,4.3750,NEAR OCEAN,1,340900.0
6253,-117.96,34.03,35.0,2093.0,537.870553,1755.0,403.0,3.4115,<1H OCEAN,0,150400.0
11741,-121.13,38.87,48.0,1127.0,537.870553,530.0,186.0,3.0917,INLAND,0,128100.0
...,...,...,...,...,...,...,...,...,...,...,...
19553,-121.00,37.62,28.0,1153.0,420.000000,1043.0,357.0,1.0801,INLAND,0,75000.0
3481,-118.52,34.30,17.0,4542.0,621.000000,2144.0,597.0,8.8467,<1H OCEAN,0,450700.0
1457,-121.97,37.97,26.0,1977.0,264.000000,817.0,273.0,5.7512,INLAND,0,240200.0
2698,-115.38,32.82,38.0,1892.0,394.000000,1175.0,374.0,1.9939,INLAND,0,65800.0
13888,-116.51,34.85,15.0,3149.0,713.000000,1281.0,486.0,2.0000,INLAND,0,64700.0

In [32]:
data_test_to_csv=X_test
data_test_to_csv

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,ocean_proximity_regr
20046,-119.01,36.06,25.0,1505.0,537.870553,1392.0,359.0,1.6812,INLAND,0
3024,-119.46,35.14,30.0,2943.0,537.870553,1565.0,584.0,2.5313,INLAND,0
15663,-122.44,37.80,52.0,3830.0,537.870553,1310.0,963.0,3.4801,NEAR BAY,1
20484,-118.72,34.28,17.0,3051.0,537.870553,1705.0,495.0,5.7376,<1H OCEAN,0
9814,-121.93,36.62,34.0,2351.0,537.870553,1063.0,428.0,3.7250,NEAR OCEAN,1
13311,-117.61,34.08,12.0,4427.0,537.870553,2400.0,843.0,4.7147,INLAND,0
7113,-118.02,33.89,36.0,1375.0,537.870553,670.0,221.0,5.0839,<1H OCEAN,0
7668,-118.08,33.92,38.0,1335.0,537.870553,1011.0,269.0,3.6908,<1H OCEAN,0
18246,-122.08,37.39,4.0,2292.0,537.870553,1050.0,584.0,4.8036,NEAR BAY,1
5723,-118.23,34.18,45.0,2332.0,537.870553,943.0,339.0,8.1132,<1H OCEAN,0
20069,-120.37,38.01,30.0,473.0,537.870553,242.0,93.0,2.5417,INLAND,0
6835,-118.12,34.08,35.0,2248.0,537.870553,1762.0,622.0,3.0000,<1H OCEAN,0
11351,-117.91,33.76,20.0,4413.0,537.870553,4818.0,1063.0,2.8594,<1H OCEAN,0
20267,-119.19,34.20,18.0,3620.0,537.870553,3171.0,779.0,3.3409,NEAR OCEAN,1
7097,-117.98,33.92,27.0,3700.0,537.870553,1793.0,552.0,5.3668,<1H OCEAN,0
6298,-117.91,34.02,22.0,6269.0,537.870553,5587.0,1251.0,3.8201,<1H OCEAN,0
696,-122.10,37.69,41.0,746.0,537.870553,387.0,161.0,3.9063,NEAR BAY,1
19607,-121.02,37.48,26.0,467.0,537.870553,244.0,83.0,4.1346,INLAND,0
14173,-117.05,32.75,36.0,2024.0,537.870553,1030.0,390.0,3.8233,NEAR OCEAN,1
19638,-120.97,37.43,27.0,1380.0,537.870553,810.0,262.0,2.1875,INLAND,0
18332,-122.16,37.45,47.0,4234.0,537.870553,1808.0,1093.0,4.2297,NEAR BAY,1
4691,-118.37,34.07,50.0,2519.0,537.870553,1117.0,516.0,4.3667,<1H OCEAN,0
2323,-119.73,36.83,8.0,3602.0,537.870553,1959.0,580.0,5.3478,INLAND,0
16880,-122.39,37.59,32.0,4497.0,537.870553,1846.0,715.0,6.1323,NEAR OCEAN,1
14521,-117.14,32.90,16.0,3217.0,537.870553,2054.0,687.0,4.2234,<1H OCEAN,0
19833,-119.38,36.53,38.0,1281.0,537.870553,1423.0,293.0,1.9602,INLAND,0
8383,-118.36,33.96,26.0,3543.0,537.870553,2742.0,951.0,2.5504,<1H OCEAN,0
2647,-124.13,40.55,38.0,544.0,537.870553,240.0,91.0,3.2500,<1H OCEAN,0
1456,-121.98,37.96,22.0,2987.0,537.870553,1420.0,540.0,3.6500,INLAND,0
5678,-118.30,33.72,35.0,2790.0,537.870553,1167.0,441.0,6.2028,NEAR OCEAN,1
341,-122.17,37.75,38.0,992.0,537.870553,732.0,259.0,1.6196,NEAR BAY,1
4852,-118.31,34.03,47.0,1315.0,537.870553,785.0,245.0,1.2300,<1H OCEAN,0
14386,-117.23,32.75,5.0,1824.0,537.870553,892.0,426.0,3.4286,NEAR OCEAN,1
18261,-122.08,37.37,29.0,1229.0,537.870553,707.0,194.0,7.1108,NEAR BAY,1

Запишем полученные датасеты в .csv и запишем в новые переменные (для чистоты эксперимента).

In [33]:
pd.DataFrame.to_csv(data_test_to_csv, './data/housing_test.csv', sep=",", index=False)
pd.DataFrame.to_csv(data_train_to_csv, './data/housing_train.csv', sep=",", index=False)